.container {
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.container li {
    font-size: 13px;
    font-weight: 500;
    cursor: pointer;
    transition: .3s all;
}
.container li:hover {
    opacity: .8;
}
.container li:not(:last-child) {
    margin-right: 1rem;
}
.container li:first-child {
    border-bottom: 2px solid rgba(22, 160, 133,1.0);
}

@media (max-width: 768px) {
    .container {
        margin: .5rem 0;
    }
}