.container {
    flex: 1;
    padding: 2rem;
}

.messageContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.messageContainer h2 {
    color: darkgrey;
}

.daysTitle {
    font-size: 1.4rem;
    margin: 1rem 0;
}

.daysContainer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: .8rem;
}

@media (max-width: 768px) {
    .messageContainer {
        margin-top: 5rem;
    }
}

@media (max-width: 480px) {
    .container {
        padding: 1rem;
    }
}